body{
    /*width: 1024px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*max-width: 1024px;*/
    /*height: 600px;*/

}
.container{
    margin: 0 15px;
    /*height: 100%;*/

    text-align: center;

}
.slider-wrap{
    width: 95vw;
    height: 85vh;

}
.slider{
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.slider img{
    width: 100%;
    height: 100%;

}
.slider-info-and-dots{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-info{
}

.control{
    padding-left: 0;
}

.dots ul{
    display: flex ;
}

.dots ul li{
    list-style: none;
    width: 25px;
    height: 25px;
    background-color: black;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.dots ul li:hover{
    /*border-radius: 0;*/
    background-color: #ff6b08;
    /*background-color: white;*/
    /*border: 1px solid #ff6b08;*/
    /*transform: rotate(45deg);*/
}
.dots ul li.active{
    border-radius: 0;
    background-color: #ff6b08;
    transform: rotate(45deg);
}

.img-slider{
    /*animation: mymove 3s  ;*/
    position: relative;
}
.phase{
    position: relative;
    font-size: 30px;
    margin: 0;
}
/*@keyframes mymove {*/
/*    0% {opacity: 1;}*/
/*    !*20% {top: 0px;}*!*/
/*    !*25% {top: -300px;}*!*/
/*    !*75% {top: -300px;}*!*/
/*    !*80% {top: 0px;}*!*/
/*    100% {opacity: 0;}*/
/*}*/

@keyframes moveout {
    0% {left: 0px; opacity: 1}
    100% {left: -100%; opacity: 0}
}
@keyframes visible {
    0% {opacity: 0}
    100% {opacity: 1}
}

@media (max-width: 425px) {
    .container {
         text-align: start;
    }
    .slider-wrap {
        height: 70vh;
    }
    .slider-info-and-dots {
        flex-direction: column;
    }
    .slider-info-and-dots {
        flex-direction: column-reverse;
    }
    .phase {
        font-size: 25px;
    }
    .slider-info {
        align-self: flex-start;
    }
}